Carbon dioxide emissions are those stemming from the burning of fossil fuels and the manufacture of cement. They include carbon dioxide produced during consumption of solid, liquid, and gas fuels and gas flaring.

### Get the Data

Data can be downloaded from The World Bank [here](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/) (file named "API_EN.ATM.CO2E.PC_DS2_en_csv_v2_3012494.csv")

### Import the data using Pandas

#### Import required libraries

In [106]:
import pandas as pd

#### Import data

hint: add to read method new argument skiprows

In [79]:
data = pd.read_csv("API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4700403.csv", skiprows=4)
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.005027,1.016649,0.966589,0.948410,0.937926,0.917507,0.913618,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,NaN,NaN,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508099,0.515960,0.494065,0.499405,0.483140,0.486456,0.493923,NaN,NaN,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.106688,1.062211,0.511362,0.399364,0.359622,0.341068,0.380633,NaN,NaN,NaN
263,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,8.138264,8.212241,7.669938,7.563739,7.641675,7.515679,7.507736,NaN,NaN,NaN
264,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.284058,0.304550,0.312355,0.325115,0.404068,0.445489,0.380717,NaN,NaN,NaN
265,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.919824,0.889104,0.899770,0.785441,0.726297,0.857411,0.802979,NaN,NaN,NaN

#### Display first 5 rows of `data`

In [80]:
data.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.005027,1.016649,0.966589,0.948410,0.937926,0.917507,0.913618,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,NaN,NaN,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508099,0.515960,0.494065,0.499405,0.483140,0.486456,0.493923,NaN,NaN,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,NaN,NaN,NaN

### Data Cleaning

#### Look at the data. What problems do we have with the data quality and how do we solve them?

For example, what's wrong with these rows?

In [81]:
data.loc[[93,261,264,265]]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
93,Guam,GUM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.284058,0.304550,0.312355,0.325115,0.404068,0.445489,0.380717,NaN,NaN,NaN
265,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.919824,0.889104,0.899770,0.785441,0.726297,0.857411,0.802979,NaN,NaN,NaN

## Problems with the data quality:
1. Some rows are aggregates of countries rather than actual countries (e.g., "World").
2. Some columns are irrelevant and can be removed (e.g., "Indicator Name").
3. Some years have no data for any country (e.g., 2019).
4. Some countries have no data for any year. (e.g., "Taiwan, China")

<br>

<h2> 1. Some rows are aggregates of countries rather than actual countries (e.g., "World"). </h2>

**Goals:**  
Remove rows that do not contain an actual country. Fortunately, the World Bank provides us with metadata on which rows are countries and which are aggregates.
- import countries_metadata.csv (file named "Metadata_Country_API_EN.ATM.CO2E.PC_DS2_en_csv_v2_3012494.csv")
- merge metadata with `data` on `Country Code`

#### Import `countries_metadata.csv`

In [105]:
countries_metadata = pd.read_csv("Metadata_Country_API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4700403.csv")
countries_metadata

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN
...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,NaN
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

#### How do we identify when a listed "Country Name" is a country or an aggregated region?

Notice when the row is an aggregate like "Arab World", the `Region` and `IncomeGroup` are consistently NaN (Not a Number). We can use this rule to remove all non-country regions.

#### Merge `data` with `metadata` on the key, `Country Code`

hint: merge()

In [84]:
data = data.merge(countries_metadata, left_on="Country Code", right_on="Country Code")
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,Region_x,IncomeGroup_x,SpecialNotes_x,TableName_x,Unnamed: 5_x,Region_y,IncomeGroup_y,SpecialNotes_y,TableName_y,Unnamed: 5_y
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Latin America & Caribbean,High income,NaN,Aruba,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
261,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
262,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
263,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,NaN,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,NaN
264,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

**Note:** The region values are NaN when the row is not a actual country.

#### Remove rows where `Region` is NaN

hint:

notnull - Detect existing (non-missing) values. Return True/False in array

Also, use a filtering through an array, that contains True/False

In [59]:
data["nan"] = data["Region"].notnull()
data = data.set_index("nan")
data = data.loc[bool(1)]   # bool(1) = True
#print(data)
data = data.reset_index()
data = data.drop(["nan"], axis = 1)
data[["Country Name", "Region"]]

     Country Name                      Region
0           Aruba   Latin America & Caribbean
1     Afghanistan                  South Asia
2          Angola          Sub-Saharan Africa
3         Albania       Europe & Central Asia
4         Andorra       Europe & Central Asia
..            ...                         ...
212        Kosovo       Europe & Central Asia
213   Yemen, Rep.  Middle East & North Africa
214  South Africa          Sub-Saharan Africa
215        Zambia          Sub-Saharan Africa
216      Zimbabwe          Sub-Saharan Africa

[217 rows x 2 columns]

<br>

<h2>2. Some columns are irrelevant and can be removed.</h2>

**Goals:**  
Remove the following irrelevant columns:
- Column 3: **"Indicator Name"**
- Column 4: **"Indicator Code"**

In [93]:
#data = data.drop(["Indicator Name", "Indicator Code"], axis=1)
#data[["Indicator Name", "Indicator Code"]]
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,Region_x,IncomeGroup_x,SpecialNotes_x,TableName_x,Unnamed: 5_x,Region_y,IncomeGroup_y,SpecialNotes_y,TableName_y,Unnamed: 5_y
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Latin America & Caribbean,High income,NaN,Aruba,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
261,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
262,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
263,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,NaN,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia,NaN
264,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

<h2>3. Some years have no data for any country.</h2>

**Goals:**  
Count the number of rows for each year. NaN value does not get counted towards the total.

In [92]:
new_nan = pd.pivot_table(data, index = "Country Name", dropna = True)   # dropna=True no NaN
new_nan.count().head(60)
print(new_nan)

                                 1990      1991      1992      1993      1994  \
Country Name
Afghanistan                  0.191745  0.167682  0.095958  0.084721  0.075546
Africa Eastern and Southern  0.999038  0.953224  0.915661  0.916485  0.917093
Africa Western and Central   0.478144  0.530016  0.568305  0.523529  0.470888
Albania                      1.819542  1.242810  0.683700  0.638307  0.645355
Algeria                      2.443430  2.516243  2.472961  2.613304  2.609009
...                               ...       ...       ...       ...       ...
Vietnam                      0.284311  0.285151  0.293580  0.335268  0.362248
World                        3.906255  3.868547  3.814152  3.780707  3.744687
Yemen, Rep.                  0.567037  0.690937  0.704793  0.627105  0.653256
Zambia                       0.340930  0.349232  0.337224  0.289956  0.241270
Zimbabwe                     1.585444  1.713321  1.694416  1.539741  1.417186

                                 1995      1996      1997      1998      1999  \
Country Name
Afghanistan                  0.068468  0.062588  0.056827  0.052691  0.040157
Africa Eastern and Southern  0.936570  0.947393  0.967836  0.967182  0.904871
Africa Western and Central   0.501681  0.564390  0.549638  0.514868  0.511254
Albania                      0.605436  0.612367  0.466921  0.572154  0.955359
Algeria                      2.658063  2.600934  2.502439  2.472448  2.531071
...                               ...       ...       ...       ...       ...
Vietnam                      0.419167  0.460505  0.529474  0.582085  0.587202
World                        3.794248  3.818985  3.830205  3.798067  3.765047
Yemen, Rep.                  0.706081  0.698158  0.728608  0.757433  0.830912
Zambia                       0.234153  0.188442  0.238601  0.219937  0.173560
Zimbabwe                     1.356619  1.287559  1.186793  1.197745  1.338101

                             ...      2010      2011      2012      2013  \
Country Name                 ...
Afghanistan                  ...  0.243614  0.296506  0.259295  0.185624
Africa Eastern and Southern  ...  1.021548  0.979352  0.992616  1.005027
Africa Western and Central   ...  0.472077  0.476789  0.480603  0.508099
Albania                      ...  1.527624  1.669423  1.503240  1.533630
Algeria                      ...  3.173655  3.294743  3.609308  3.644979
...                          ...       ...       ...       ...       ...
Vietnam                      ...  1.721201  1.755008  1.731811  1.810417
World                        ...  4.484850  4.571988  4.578805  4.615620
Yemen, Rep.                  ...  1.098258  0.963978  0.858491  1.106688
Zambia                       ...  0.195502  0.217497  0.278601  0.284058
Zimbabwe                     ...  0.756041  0.884886  0.915735  0.919824

                                 2014      2015      2016      2017      2018  \
Country Name
Afghanistan                  0.146236  0.172897  0.149789  0.131695  0.163295
Africa Eastern and Southern  1.016649  0.966589  0.948410  0.937926  0.917507
Africa Western and Central   0.515960  0.494065  0.499405  0.483140  0.486456
Albania                      1.668337  1.603775  1.557664  1.788786  1.782739
Algeria                      3.795632  3.933496  3.820090  3.825638  3.920109
...                               ...       ...       ...       ...       ...
Vietnam                      1.972112  2.380847  2.389139  2.436030  2.989137
World                        4.571665  4.490607  4.441769  4.457093  4.510145
Yemen, Rep.                  1.062211  0.511362  0.399364  0.359622  0.341068
Zambia                       0.304550  0.312355  0.325115  0.404068  0.445489
Zimbabwe                     0.889104  0.899770  0.785441  0.726297  0.857411

                                 2019
Country Name
Afghanistan                  0.159824
Africa Eastern and Southern  0.913618
Africa Western and Central   0.493923
Albania                      1.692248
Algeria                      3.977650
...                               ...
Vietnam                      3.488313
World                        4.469660
Yemen, Rep.                  0.380633
Zambia                       0.380717
Zimbabwe                     0.802979

[239 rows x 30 columns]

D:\Nasti\Temp\ipykernel_7064\3221939635.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  new_nan = pd.pivot_table(data, index = "Country Name", dropna = True)   # dropna=True no NaN

Checking year 2019 because there seems to be no rows containing data.

In [104]:
print(data["2019"])

0           NaN
1      0.913618
2      0.159824
3      0.493923
4      0.792137
         ...
260         NaN
261    0.380633
262    7.507736
263    0.380717
264    0.802979
Name: 2019, Length: 265, dtype: float64

#### Remove columns with no row data

In [ ]:
#double-check that columns have been removed

<h2>4. Some countries have no data for any year.</h2>

**Goals:**  
Use row means to determine which countries have no data.

Let's take the means for each row (on axis 1).

As you can see, the NaN appears when there is no data for that row.

#### Remove rows where there are no values in any year

In [ ]:
#Takes the mean of all numeric quantities by row

<h2>Data Cleaning ... done!</h2>

Export cleaned data: